
version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-food-online-api
    ports:
      - "8080:8080"
    environment:
      PORT: "8080"
    restart: unless-stopped

